.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--zero-color);
  height : 100%
}

.search {
  display: flex;
  flex-direction: row;
  width : 400px;
  align-items: center;
  padding-top : 30px;

  .icon {
    width : 35px;
    height: 35px;
    color : var(--third-color);
    padding-right: 15px;
  }

  .auto-complete {
    width: 350px;
  }

}

